/* Bootstrap a bit adapt */
.joeForm {
    display: block;
    width: auto;
    height: 25px;
    padding: 3px 3px;
    font-size: 14px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #696a6d;
    border-radius: 10px;
}

i.fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  
  }